[submodule "truffle"]
	path = truffle
	url = git@github.com:jimmychu0807/final-project-truffle.git
[submodule "www"]
	path = www
	url = git@github.com:jimmychu0807/final-project-www.git
[submodule "api"]
	path = api
	url = git@github.com:jimmychu0807/final-project-api.git
