[submodule "truffle"]
	path = truffle
	url = https://github.com/pperrin/lottery-dapp-truffle.git
[submodule "www"]
	path = www
	url = https://github.com/pperrin/lottery-dapp-www.git
[submodule "OpenZeppelin"]
	path = OpenZeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
[submodule "openzeppelin-contracts"]
	path = openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
	branch = master
